@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.CardRehvup1 {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 6em;

    .card-left {
        text-align: start;
        margin-top: 3em;
        margin-left: 4em;



        .card-left1 {
            font-size: 32px;
            font-weight: 350;
            line-height: 38.4px;
            margin-right: 9em;

        }


        span {
            font-family: Poppins;
            font-size: 57px;
            font-weight: 700;
            line-height: 68.4px;
            text-align: left;
            color: rgba(196, 53, 35, 1);

            text-decoration: underline;

        }

        .card-left2 {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            text-align: left;
            margin-top: 1em;
            color: rgba(83, 86, 89, 1);


            p {
                color: rgb(82, 87, 92);
                margin-bottom: 0.9em;
            }

        }

        .card-left3 {
            display: flex;
            margin-top: 1.4em;

            span1,
            span2 {
                color: rgba(31, 39, 48, 1);
                font-weight: 600;

                margin-right: 6em;
            }
        }

        .card-left4 {
            display: flex;
            margin-top: 1.4em;

            span3,
            span4 {
                color: rgba(31, 39, 48, 1);
                font-weight: 600;

                margin-right: 5em;
            }
        }


    }

    .card-right {
        padding: 3rem;
        width: 27%;

        // background: rgba(81, 177, 117, 1);
        img {
            width: 100%;
        }
    }

}

.CardRehvup2 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    color: rgb(54, 59, 64);
    margin-bottom: 1.5em;
    margin-top: 1em;

}

.CardRehvup3 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 900;
    line-height: 28.8px;
    text-align: center;
    color: rgba(83, 86, 89, 1);

}

.CardRehvup4 {

    padding: 4rem;
    width: 45%;
    margin: 0em 22em;

    // background: rgba(81, 177, 117, 1);
    img {
        width: 100%;
    }
}

.CardRehvup5{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    margin: auto;
    padding: 4rem;
    width: auto;
    position: relative;
    
    img {
        width: 100%;
    }
}